.add-button.add-collaborator(ng-click="addCollaborator()") ADD COLLABORATORS
.property-list.property-access-list
  .property-wrapper
    .property-title
      h4 COLLABORATORS
    .property-item-group.property-access-wrapper
      .property-item.property-access.access-owner.avatar-left
        .user-avatar GS
        .username Glen Sims
        .user-description owner
      .property-item.property-access.access-collaborator.avatar-left.icon-right.icon-close-01
        .user-avatar(style="background-color: #4A4A4A") FC
        .username Fred Carson
        .user-description collaborator
      .property-item.property-access.access-collaborator.avatar-left.icon-right.icon-close-01
        .user-avatar(style="background-color: #BB76F8") AC
        .username Amanda Casey
        .user-description collaborator