div.page-main-container.property-container(ng-controller='RestaurantCtrl as vm' ng-class="{'has-sub-topnavbar': app.layout.hasSubTopNavBar}")
  .sub-section-tab-wrapper
    .tab-wrapper(ng-show='subtopnavbar.tabId==0' ng-include="'app/views/restaurant/contact.html'")
    .tab-wrapper(ng-show='subtopnavbar.tabId==1' ng-include="'app/views/restaurant/access.html'")