.page-main-container.property-container(ng-class="{'has-sub-topnavbar': app.layout.hasSubTopNavBar}")

    .property-list.content-with-subnavbar

        div(md-theme="menucloud-std")

            h1 Designer
