notification-bar(
data-showbar='vm.notification.show'
data-type="vm.notification.type"
data-subnavbar="vm.notification.subnavbar")
    p {{ vm.notification.message }}
                                      