.row.booking-panel
    .col-md-3
        .panel.panel-default.menu-overview
            .panel-body
                h1.text-center {{vm.stats.incoming}}
                h5.text-center Incoming Requests
    .col-md-3
        .panel.panel-default.menu-overview
            .panel-body
                h1.text-center {{vm.stats.proposals}}
                h5.text-center Proposal Reviews
    .col-md-3
        .panel.panel-default.menu-overview
            .panel-body
                h1.text-center {{vm.stats.tentatives}}
                h5.text-center Tentative
    .col-md-3
        .panel.panel-default.menu-overview
            .panel-body
                h1.text-center {{vm.stats.confirmed}}
                h5.text-center Confirmed
